@font-face {
  font-family: 'Linearicons';
  src: url("../fonts/Linearicons-Free.ttf");
}

@font-face{
  font-family:SukhumvitSet-Bold;
  src: url(../fonts/Sukhumvit/SukhumvitSet-Bold.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family:SukhumvitSet-SemiBold;
  src: url(../fonts/Sukhumvit/SukhumvitSet-SemiBold.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family:SukhumvitSet-Text;
  src: url(../fonts/Sukhumvit/SukhumvitSet-Text.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family:SukhumvitSet-Medium;
  src: url(../fonts/Sukhumvit/SukhumvitSet-Medium.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family:Poppins-Regular;
  src: url(../fonts/Poppins-Regular.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family:Poppins-SemiBold;
  src: url(../fonts/Poppins-SemiBold.ttf);
  font-style: normal;
  font-variant:initial;
} 
@font-face{
  font-family:Proxima-Light;
  src: url(../fonts/Proxima-Light.otf);
  font-style: normal;
  font-variant:initial;
} 




/*html {
  scroll-behavior: smooth;
}*/
.none-pad{
  padding: 0px 0px 0px 0px !important;
} 
.none-pad2{
  padding: 0px 5px 0px 5px !important;
} 
.none-pad-r{
  padding: 0px 5px 0px 0px !important;
} 
.none-right{
  margin-right: -15px;
} 
.none-left{
  margin-left: -15px;
} 

.dropdown:hover>.dropdown-menu {
  display: block;
}
 
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }
  .none-xs{
    padding: 0px 0px 0px 0px !important;
  }
  .none-xs2{
    padding: 0px 5px 0px 5px !important;
  }
  .none-xxs{
    padding: -15px -15px -15px -15px !important;
  }
  .marx-15{
    margin-top: 15px;
  }  
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}
 
a:hover{
  text-decoration: none;
}
/*.banner {
  height: 100vh;
}*/ 
 
.navbar{
  padding-top: 1rem;
  padding-bottom: 1rem;
} 
.splashscreen{
  background-image: url("../images/BG.png");
  height: 100vh; 
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 9;
}
.splashscreen:before{
  content: "";
  background-image: url("../images/Oval1.png");
  background-position: calc(170px) calc(-170px);
  background-repeat: no-repeat; 
  background-size: 400px 400px;
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 400px; 
  background-overflow: visible;
}
.splashscreen:after{
  content: "";
  background-image: url("../images/Oval2.png");
  background-position: calc(-140px) calc(140px);
  background-repeat: no-repeat; 
  background-size: 300px 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px; 
  background-overflow: visible;
}
 
.centerx-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.splash-logo{
  width: 300px;
  height: 300px;
}
.login{
  background-image: url("../images/login-bg.png");
  height: 100vh; 
  width: 100vw;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100vw 60%;
  background-color: #f5f5f5;
}
.form-logx{ 
  padding-top: 50vh;
}
.login .log-img{
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.login .form-logx h3{
  font-family:SukhumvitSet-SemiBold;
  color: #FF5800;
  font-size: 24px;
}
.login .form-logx h6{
  font-family:SukhumvitSet-Bold;
  color: #000;
  font-size: 19px;
  padding-top: 5px;
  text-align: right;
}
.form-login input{
  height: 58px;
  margin-top: 15px;
  width: 100%;
  padding-left: 25px;
  border:none;
  border-radius: 30px;
  box-shadow: 0px 0px 31px 0px rgba(151,151,151,.3);
  font-family:Poppins-Regular;
  font-size: 14px;
  color: #989898;
  z-index: 1;
}
.form-login img{
  text-align: right; 
  margin-top: -38px;
  margin-right: 25px;
  right: 0;
  position: absolute;
  z-index: 2;
}

.form-login .hrx{
  border-top: 1px solid #A2A2A2; 
  z-index: 1 !important;
  margin-top: 5px;
}
 
.form-login p{  
  font-family:SukhumvitSet-Text;
  background-color: #f5f5f5;
  width: 110px;
  margin: auto;
  z-index: 9 !important;
  color: #A2A2A2;
  font-size: 16px;
  text-align: center;
  margin-top: -15px;
}
.form-login p a{
  color: initial;
  text-align: center;

}
.ic-social .col-4 div{
  border-radius: 100%;
  width: 75px;
  height: 75px;
  display: block;
  border-radius: 100%;
  box-shadow: 0px 0px 11px 0px rgba(151,151,151,1);
}
.ic-social .col-4 .ic1{
  background-color: #00C200;
  padding: 15px;
}
.ic-social .col-4 .ic2{
  background-color: #3B5998;
  padding: 22px;
}
.ic-social .col-4 .ic3{
  background-color: #fff;
  padding: 15px;
}
.go-Button{
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 125px;
} 
.icon-sett{
  position: fixed;
  left: 0;
  bottom: 0;
  margin-left: 15px;
  margin-bottom: 15px;
  font-family:SukhumvitSet-Bold;
  color: #000;
  font-size: 15px;
}
.icon-sett span{
  padding-left: 10px;
}
.ic-social .col-4{
  text-align: center;
}
.ic-social .col-4 span{
  font-family:Poppins-SemiBold;
  font-size: 14px;
  color: #000000;
  text-align: center;
  padding-top: -10px;
}

.menu{
  background-image: linear-gradient(to bottom, #f37a26, #f4721e, #f56917, #f65f0f, #f75507, #f85004, #f84b02, #f94500, #f94500, #f94500, #f94500, #f94500);
  height: 58px;
  position: fixed;
  display: block;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 0px 31px 0px rgba(151,151,151,.3);
  border: 1px solid #979797;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.5);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
 
.main-nav{
  width: 100vw;
  background-color: #fff;
  padding-top: 60px;
  height: 100vh;
}


#menuslide {
  display:none; 
  background-color: rgba(0,0,0,0);
  width: 100%;
}
.div-menu{
  position: fixed;
  background-color:#fff;
  top: 0px;
  left: 0px;
  width: 296px;
  height: 100%;
  z-index: 1000;
  box-shadow: 0px 0px 31px 0px rgba(151,151,151,.3);
  border-radius: 0px 15px 15px 15px; 
} 

.bar-menu .fa-bars{
  font-size: 30px;
  color: #fff;
  padding-top: 10px;
  padding-left: 15px;
}
.bar-menu .fa-chevron-left{
  font-size: 25px;
  color: #fff;
  padding-top: 15px;
  padding-left: 15px;
}

.hmenu{
  background-image: linear-gradient(to bottom, #f37a26, #f4721e, #f56917, #f65f0f, #f75507, #f85004, #f84b02, #f94500, #f94500, #f94500, #f94500, #f94500);
  height: 114px;
}
.userpic{
  width: 62px;
  height: 62px;
}
.hmenu .user h3{
  font-family:SukhumvitSet-SemiBold;
  color: #fff;
  font-size: 18px;
}
.hmenu .user .shop{
  margin-right: 10px;
}

.hmenu .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  margin-top: 5px;
  margin-left: 15px;
}

.hmenu .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.hmenu .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.hmenu .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  margin-top:5px;
}

.hmenu input:checked + .slider {
  background-image: linear-gradient(to bottom, #00fd3f, #00ef57, #00e167, #00d272, #18c37a);
}
.hmenu input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.hmenu input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
} 

.accordion .card-header:after {
  font-family: 'Linearicons';
  content: "\e873";
  float: right; 
  top: 0;
  margin-right: 15px;
  margin-top: -30px;
  color: #c7cfd6;
}
.accordion .card-header.collapsed:after {
  content: "\e874"; 
  top: 0;
  margin-right: 15px;
  margin-top: -30px;
  color: #c7cfd6;
}
.bmenu .accordion .card-title h3{
  font-family:SukhumvitSet-Bold;
  color: #434343;
  font-size: 15px; 
}
.bmenu .accordion img{
  position: absolute;
  left: 0px; 
  margin-left: 10px;
}

.bmenu .accordion{
  margin-left: 40px;
}
.user-online{
  background-color: #fff;
  border-radius: 8px;
  height: 64px;
  padding-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 31px 0px rgba(151,151,151,.3);
  margin-top: 5px;
}

.user-online .userpix{
  width: 52px;
  height: 52px; 
}
.user-online h3{
  font-family:SukhumvitSet-Bold;
  color: #434343;
  font-size: 18px;
  display: inline;
  margin-left: 15px;
}
.user-online span{
  font-family:SukhumvitSet-Bold;
  color: #06B527;
  font-size: 18px;
  padding-left: 15px;
}
.user-online .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  margin-top: 5px;
  margin-left: 15px;
}

.user-online .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.user-online .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.user-online .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  margin-top:5px;
}

.user-online input:checked + .slider {
  background-image: linear-gradient(to bottom, #00fd3f, #00ef57, #00e167, #00d272, #18c37a);
}
.user-online input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.user-online input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
} 
 
.home-menu{
  background-color: #fff;
  border-radius: 8px;
  padding-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 11px 0px rgba(151,151,151,.3);
}
.box1{
  background-image: linear-gradient(to right bottom, #a87fff, #9d7aff, #9076ff, #8271ff, #736dff);
  min-height: 100px;
  margin-top: 10px;
  border-radius: 8px;
}
.box2{
  background-image: linear-gradient(to right bottom, #ff8886, #ff9885, #fda887, #fab78e, #f7c598);
  min-height: 100px;
  margin-top: 10px;
  border-radius: 8px;
}
.box3{
  background-image: linear-gradient(to right bottom, #f7b3be, #ef9ebd, #de8bc4, #c37dcf, #9875db);
  min-height: 100px;
  margin-top: 10px;
  border-radius: 8px;
}
.box4{
  background-image: linear-gradient(to right bottom, #44dec5, #00d8d9, #00d1e9, #10c8f4, #4dbdf8);
  min-height: 100px;
  margin-top: 10px;
  border-radius: 8px;
}
.boxx{
  padding-top: 10px;
  height: 116px;

}
.boxx p{
  background-color: rgba(255,255,255,.24);
  border-radius: 100%;
  width: 33px;
  height: 33px;
  padding-top: 7px;
  margin-left: -10px;
}
.boxx p img{
  margin:auto;
  display: block;
}
.box3 p{
  padding-top: 9px;
}
.boxx h5{
  position: absolute;
  top: 0;
  font-family:SukhumvitSet-Bold;
  font-size: 17px;
  color: #fff;
  padding-left: 28px;
}
.boxx .rowx{
  border-top: 1px solid rgba(255,255,255,.5);
  margin-right: -15px; 
  margin-left: -15px;
  height: 1px;
}
 
.boxx h2{
  font-family:SukhumvitSet-Bold;
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
.boxx h2 span{
  font-size: 16px;
}
.icon-main .app{
  height: 77px;
  width: 77px;
  border-radius: 8px;
  margin:auto; 
}

.icon-main h3{
  color: #434343;
  font-family:SukhumvitSet-Bold;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}
.icon-main .app img{
  margin-top: 15px;
}

.app-bg1{
  background-image: linear-gradient(to right bottom, #01bdff, #00b3ff, #00a9ff, #009fff, #2693ff);
}
.app-bg2{
  background-image: linear-gradient(to bottom, #c961ff, #c258ff, #ba4ffe, #b245fe, #a93bfe);
}
.app-bg3{
  background-image: linear-gradient(to right bottom, #11e9dd, #00e1dc, #00d9da, #00d0d8, #00c8d5);
}
.app-bg4{
  background-image: linear-gradient(to right bottom, #ff6666, #ff5855, #fe4a43, #fb3b30, #f82a19);
}
.app-bg5{
  background-image: linear-gradient(to right bottom, #ffd325, #ffc91b, #ffbe11, #ffb407, #ffa900);
}
.app-bg6{
  background-image: linear-gradient(to right bottom, #7f98ff, #748fff, #6985ff, #5d7cff, #5172ff);
}

footer{
  background-color: #fff;
  height: 72px;
  border-radius:15px 15px 0px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: -1px;
}
footer a{
  color: #77869E;
  font-family:SukhumvitSet-Bold;
  font-size: 10px;
}
footer a img{
  margin-top: 15px;
}

.livex{
  width: 50px;
  height: 50px;
  background-image: linear-gradient(to bottom, #fd2222, #f51c1b, #ec1513, #e40c0a, #dc0101);
  margin:auto;
  margin-top: 10px;
  border-radius: 100%;
}

.dbx{
  color: #fff;
  font-family:SukhumvitSet-Bold;
  font-size: 28px;
  text-align: center;
  margin-top: -28px;
}
.dbx2{
  color: #fff;
  font-family:SukhumvitSet-Bold;
  font-size: 20px;
  text-align: center;
  margin-top: -25px;
}
.right-alert{
  position: absolute;
  right:0;
  top: 0;
  margin-top: 10px;
  margin-right: 15px;
}

.card-body ul.m{
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.card-body ul.m li a{
  font-family:SukhumvitSet-Text;
  font-size: 15px;
  color: #434343;
  padding-left: 10px;
  line-height: 35px;
}
.card-body ul.m li a:before{
  font-family: 'Linearicons';
  content: "\e87a";
  float: left; 
  top: 0;
  color: #434343;
 
}
.card-body ul li a span{
  color: #FF0000;
}

.card-body ul.mx{
  list-style: none;
  padding-left:15px; 
  margin-bottom: 0px;
}
.card-body ul.mx li a{
  font-family:SukhumvitSet-Text;
  font-size: 15px;
  color: #434343;
  padding-left: 10px;
  line-height: 35px;
}
.card-body ul.mx li a:before{
  font-family: 'Linearicons';
  content: "\e87a";
  float: left; 
  top: 0;
  color: #434343;
 
}

.setting{ 
  border-radius: 8px;
  padding-top: 5px;
  margin-bottom: 5px; 
}

.setting h2{
  color: #434343;
  font-family:SukhumvitSet-Bold;
  font-size: 19px;
  text-align: center;
  margin-top: 10px;
}


.user-st .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  margin-top: 5px;
  margin-left: 15px;
}

.user-st .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.user-st .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.user-st .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  margin-top:5px;
}

.user-st input:checked + .slider {
  background-image: linear-gradient(to bottom, #00fd3f, #00ef57, #00e167, #00d272, #18c37a);
}
.user-st input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.user-st input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
} 

.user-st{
  color: #06B527;
  font-family:SukhumvitSet-Bold;
  font-size: 19px;
  text-align: center;
}

.m-setting .set{
  border-top: 2px solid #eeefef;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  color: #232323; 
  font-family:SukhumvitSet-SemiBold;
  font-size: 15px; 
}
.m-setting .set:last-child {
  border-bottom: 2px solid #eeefef;
}
.m-setting .set p{
  color: #FF5800; 
  font-family:SukhumvitSet-Medium;
  font-size: 11px; 
  margin-top: 10px;
  margin-bottom: 0px;
}


.m-setting .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  margin-top: 5px;
  margin-left: 15px;
}

.m-setting .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.m-setting .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.m-setting .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  margin-top:5px;
}

.m-setting input:checked + .slider {
  background-color: #F36F27;
}
.m-setting input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.m-setting input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}
.m-setting .set {
  padding-top: 15px;
  padding-bottom: 15px;
}
.m-setting .set div{ 
  position: absolute;
  right: 0;
  top:0;
  margin-top: 10px;
  margin-right: 10px;
}

.set-more{
  color: #FF5800; 
  font-family:SukhumvitSet-Bold;
  font-size: 14px; 
}
.set-more2{
  color: #FF5800; 
  font-family:SukhumvitSet-Bold;
  font-size: 16px; 
}



.m-setting .set2{
  border-top: 2px solid #eeefef;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  color: #232323; 
  font-family:SukhumvitSet-Bold;
  font-size: 16px; 
}
.m-setting .set2 h3{
  color: #FF5800; 
  font-family:SukhumvitSet-Bold;
  font-size: 16px; 
}
.m-setting .set2:last-child {
  border-bottom: 2px solid #eeefef;
}
.m-setting .set2 p{
  color: #FF5800; 
  font-family:SukhumvitSet-Medium;
  font-size: 11px; 
  margin-top: 10px;
  margin-bottom: 0px;
}


.m-setting .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  margin-top: 5px;
  margin-left: 15px;
}

.m-setting .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.m-setting .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.m-setting .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  margin-top:5px;
}

.m-setting input:checked + .slider {
  background-color: #F36F27;
}
.m-setting input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.m-setting input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}
.m-setting .set2 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.m-setting .set2 span{
  color: #A6A6A6;
}
.m-setting .set2 div{ 
  position: absolute;
  right: 0;
  bottom:0;
  margin-bottom: 8px;
  margin-right: 10px;
}
.box-search{
  margin-top: 10px;
}
.box-search input{
  background-color: #F1EDED;
  height: 48px;
  padding-left: 45px;
  font-family:SukhumvitSet-Text;
  color: rgba(24,28,47,.5);
  width: 100%;
  border-radius: 30px;
  border:none;
  font-size: 16px;
}
.box-search img{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 30px;
  margin-top: 15px;
}
.message-box{
  margin-top: 15px;
}
.message-box .message{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #D8D8D8;
}
.message-box .message:hover{
  background-color: #F1EDED;
}
.message-box .message img{
  margin-left: 15px;
  width: 62px;
  height: 62px;
 
}
.message-box .message h4{
  color: #FF5800;
  font-size: 18px;
  font-family:SukhumvitSet-Text;
  position: absolute;
  margin-top: -60px;
  margin-left: 90px;
}
.message-box .message p{
  color: #979797;
  font-size: 15px;
  font-family:SukhumvitSet-Text;
  position: absolute;
  margin-top: -30px;
  margin-left: 90px; 
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-box .message span.alert{
  background-color: #FF5800;
  border-radius: 100%;
  position: absolute;
  right: 0;
  margin-right: 15px; 
  padding: 3px 8px;
  color: #fff;
  font-size: 11px;
  font-family:SukhumvitSet-Text;
}
.message-box .message span.time{
  position: absolute;
  right: 0;
  margin-top: 33px;
  margin-right: 15px; 
  color: #707070;
  font-size: 12px;
  font-family:Proxima-Light;

}
 

.shopping-list .nav-item {
  width:50%;
}
.shopping-list .nav-link {
  display: block;
  padding: 0px;
  padding-top: 13px;
}
.shopping-list.nav-tabs{
  box-shadow: 0px 0px 31px 0px rgba(151,151,151,.3);
  border-radius: 30px;
  padding: 5px;
  text-align: center;
  font-family:SukhumvitSet-Bold;
  font-size: 16px; 
}
.shopping-list.nav-tabs .nav-link{
  color: #434343;
  font-family:SukhumvitSet-Bold;
  font-size: 14px; 
  height: 47px;
  border-radius: 30px;
}
.shopping-list.nav-tabs .nav-link.active, .shopping-list.nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-image: linear-gradient(to bottom, #f37b27, #f6701d, #f96512, #fc5708, #ff4700);
}
.comment-box{
  margin-top: 15px;
}
.comment-box .comment-cs{
  padding-left: 45px;
}
.comment-box .comment-cs img{
  height: 40px;
  width: 38px;
  position: absolute;
  top: 0;
  left: 0; 
  margin-left: 10px;
} 
.comment-box .comment-cs .mainx{
  background-color: #f0f1f5;
  border-radius: 20px;
  padding: 15px;
  font-size: 14px; 
}
.comment-box .comment-cs .mainx h4{
  font-size: 16px; 
  font-family:SukhumvitSet-SemiBold;
}
.comment-box .comment-cs .mainx p{
  font-size: 14px; 
  margin-bottom: 0px;  
  font-family:SukhumvitSet-Medium;
}
.comment-box .comment-cs .mainx-c{
  background-color: #f0f1f5;
  border-radius: 20px;
  padding: 15px;
  font-size: 14px; 
  font-family:SukhumvitSet-Bold;
}

.comment-box .comment-cs span{
  color: #646569;
  font-size: 14px;
  font-family:Proxima-Light;
  padding-left: 10px;
  padding-top: 10px;
}

.tab-listx .comment-main{
  display: block;
  height: 75vh;
  overflow: auto;
  width: 100%;
  padding-bottom: 10px;
}


.tab-listx .comment-main::-webkit-scrollbar {
  width: 12px;
}
 
.tab-listx .comment-main::-webkit-scrollbar-track {
  background: rgba(216,216,216,.37); 
}
 
.tab-listx .comment-main::-webkit-scrollbar-thumb {
  background: #FF5D00; 
  border-radius: 20px;
}
 
.tab-listx .comment-main::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
 
.go-Button2{
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom:100%;
  margin-left: -20px;
} 
.go-Button3{
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom:100%;
  margin-right: -20px;
} 
.table-listx{
  
}
.table-listx thead{ 
  border:1px solid rgba(255,125,51,.36);
}
.table-listx thead tr th{
  color: #434343;
  font-size: 12px; 
  font-family:SukhumvitSet-Bold;
  text-align: center;
}

.table-listx thead tr th.tcx{
  font-size: 10px; 
  padding-left: 0px;
  padding-right: 0px;
}

.table-listx  thead th {
  vertical-align: bottom;
  border-bottom: none;
}
.table-listx  th, .table-listx  td {
  padding: 0.55rem;
  vertical-align: bottom;
  border-top: none;
}
.table-listx tbody tr td{
  border:1px solid rgba(255,125,51,.36);
  padding: 0.55rem;
  text-align: center;
  font-family:SukhumvitSet-Medium;
  color: #434343;
  font-size: 13px; 
}

.table-listx tbody tr td p{
  background-image: linear-gradient(to bottom, #00fd3f, #00ef57, #00e167, #00d272, #18c37a);
  width: 18px;
  height: 18px;
  border-radius: 100%;
  margin:auto;
  display: block;
}
.table-listx tbody tr:nth-child(odd) {background-color: #fff;}
.table-listx tbody tr:nth-child(even) {background-color: rgba(255,125,51,.36);}

.cf-list{
  background-color: #606060;
}
.cf-list .nav-item {
  width:25%;
}
.cf-list .nav-link {
  display: block;
  padding: 0px;
  padding-top: 13px;
}
.cf-list.nav-tabs{
  box-shadow: 0px 0px 31px 0px rgba(151,151,151,.3);
  text-align: center;
  font-family:SukhumvitSet-Bold;
  font-size: 16px; 
}
.cf-list.nav-tabs .nav-link{
  color: #fff;
  font-family:SukhumvitSet-Bold;
  font-size: 18px; 
  height: 54px; 
}
.cf-list.nav-tabs .nav-link.active, .cf-list.nav-tabs .nav-item.show .nav-link {
  background-image: linear-gradient(to bottom, #ff9101, #ff8400, #ff7700, #ff6800, #ff5800);
}
.cf-list.nav-tabs .nav-link {
  border: none; 
  border-radius: 0.25rem;
}
.tab-cate .mainz .col-6:nth-child(odd) {
  padding-right: 5px;
}
.tab-cate .mainz .col-6:nth-child(even) {
  padding-left: 5px;
}
.cate-box{
  background-color: #fff;
  border-radius: 4px;
  height: 210px;
  margin-top: 10px;
  padding: 5px;
}
.cate-box .pimg{
  height: 105px;
  display: block;
  margin:auto;
}
.cate-box .li-z{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
}
.cate-box .st-z{
  position: absolute;
  bottom: 0;
  right: 0;  
  margin-bottom: 15px;
}

.tab-cate .mainz .col-6:nth-child(odd) .li-z{
  margin-right: 10px;
}
.tab-cate .mainz .col-6:nth-child(even) .li-z{
  margin-right: 20px;
}

.tab-cate .mainz .col-6:nth-child(odd) .st-z{
  margin-right: 10px;
}
.tab-cate .mainz .col-6:nth-child(even) .st-z{
  margin-right: 20px;
}

.over-fs{
  display: block;
  height: 85vh;
  overflow: auto;
  width: 100%;
}


.cate-box .input-group input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.cate-box .input-group input::-webkit-outer-spin-button,
.cate-box .input-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

 
.cate-box .input-group {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
}

.tab-cate .mainz .col-6:nth-child(odd) .input-group{
  margin-left: 20px;
}
.tab-cate .mainz .col-6:nth-child(even) .input-group{
  margin-left: 10px;
}


.cate-box .input-group input[type='button'] {
  background-color: #fff;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
  border:1px solid #D8D8D8;
}

.cate-box .input-group .button-minus,
.cate-box .input-group .button-plus {
  font-weight: bold;
  height: 30px;
  padding: 0;
  width: 30px;
  color: #404852;
  position: relative;
}

.cate-box .input-group .quantity-field {
  position: relative;
  height: 30px;
  left: -1px;
  width: 50px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}
.cate-box  .button-minus {  
  border-radius: 30px 0px  0px 30px;
}
.cate-box  .button-plus {
  left: -7px;
  border-radius: 0px 30px 30px 0px;
}

.cate-box .input-group input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  font-family:SukhumvitSet-Bold;
  color: #404852;
  font-size: 12px;
  border:1px solid #D8D8D8; 
  padding-left: 25px;
}
.cate-box p.name{
  color: #404852;
  font-family:SukhumvitSet-Bold;
  font-size: 15px;
  position: absolute;
  left: 0;
  bottom:0;
  margin-bottom: 65px;
}
.cate-box p.number{
  color: #404852;
  font-family:SukhumvitSet-Text;
  font-size: 14px;
  position: absolute;
  left: 0;
  bottom:0;
  margin-bottom: 45px;
}
.cate-box p.price{
  color: #FF5800;
  font-family:SukhumvitSet-SemiBold;
  font-size: 14px;
  position: absolute;
  right: 0;
  bottom:0;
  margin-bottom: 45px;
}


.tab-cate .mainz .col-6:nth-child(odd) p.name{
  margin-left: 25px;
}
.tab-cate .mainz .col-6:nth-child(even) p.name{
  margin-left: 15px;
}


.tab-cate .mainz .col-6:nth-child(odd) p.number{
  margin-left: 25px;
}
.tab-cate .mainz .col-6:nth-child(even) p.number{
  margin-left: 15px;
}

.tab-cate .mainz .col-6:nth-child(odd) p.price{
  margin-right: 15px;
}
.tab-cate .mainz .col-6:nth-child(even) p.price{
  margin-right: 25px;
}

.chat-bot{ 
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.chat-bot textarea{ 
  background-color: #F1EDED; /*F1EDED*/
  font-family:SukhumvitSet-Text;
  font-size: 16px;
  color: rgba(24,28,47,.3);
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 30px;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 0;
  padding-right: 40px;
  width: 90%;
  min-height: 60px;
  border:none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; 
}
 

.sendButton{
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 15px;
  height: 62px;
  margin-bottom: 7px;
}
.microphone{
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 90px;
  height: 30px;
  margin-bottom: 20px;
}
.clip{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 20px;
  margin-bottom: 30px;
}

.chat-head{
  height: 86px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 31px 0px rgba(151,151,151,.3);
}
.user-chat{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 75px;
  margin-left: 15px;
}
.user-chat img{
  width: 50px;
  height: 50px;
  border-radius: 100%;  
}
.chat-head-des{
  padding-left: 70px;
}
.chat-head .user-chat p{
  width: 14px;
  height: 14px; 
  border-radius: 100%;
  position: absolute;
  top: 0px;

}
.st1{
  background-color: #06B527;
}
.st2{
  background-color: red;
}
.chat-head-des .name1{
  color: #181C2F; 
  font-family:SukhumvitSet-Text;
  font-size: 16px;
  margin-top: 5px;
}
.status-o{
  color: rgba(24,28,47,.3);
  font-family:SukhumvitSet-Text;
  font-size: 14px;
}
.status-o span{
  margin-left: 50px;
}

.chat-head-des .option{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 65px;
  margin-right: 15px;
}

.chat-head-des .tel{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 65px;
  margin-right: 50px;
}
.chat-head-des .call{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 65px;
  margin-right: 80px;
}


.chatx{
  display: block;
  height: 70vh;
  overflow: auto;
  width: 100%;
  padding: 15px; 

}


.chatx::-webkit-scrollbar {
  width: 8px;
}
 
.chatx::-webkit-scrollbar-track {
  background: rgba(216,216,216,.37); 
}
 
.chatx::-webkit-scrollbar-thumb {
  background: #FF5D00; 
  border-radius: 20px;
}
 
.chatx::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.chat-l{
  width: 100%;
  margin-top: 15px;
}
.chat-r{
  width: 100%;
  margin-top: 15px;
}

.chat-l div{ 
  background-color: #FF5800;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 31px 0px rgba(151,151,151,.3);
  color: #fff;
  font-size: 16px;
  font-family:SukhumvitSet-Text;
  margin-right: 100px;

}

.chat-r div{ 
  background-color: #fff;
  padding: 15px;
  border-radius: 20px; 
  box-shadow: 0px 0px 31px 0px rgba(151,151,151,.3);
  color: #1A2028;
  font-size: 16px;
  font-family:SukhumvitSet-Text; 
  margin-left: 100px;
  text-align: left;
}

.chatx p{
  font-size: 12px;
  font-family:SukhumvitSet-Text; 
  color: rgba(24,28,47,.3); 
  margin: 15px;
  margin-top: 5px;
}

.form-add{
  font-family:SukhumvitSet-Bold;
}
.form-add select{
  font-family:SukhumvitSet-Medium; 
}
.text-he{
  height: 60px;
  font-family:SukhumvitSet-Medium; 
}
.text-he2{
  height: 45px;
  font-family:SukhumvitSet-Medium; 
}
.form-add label.se{
  font-family:SukhumvitSet-Medium; 
  padding-top: 10px !important;
  font-size: 13px;
}
.form-add label.se img{
  max-width: 25px;
}


.form-group span{
  float: left;
  position: absolute;
  padding-left: 120px;
  left: 0;
  font-family:SukhumvitSet-Medium; 
  color: #FF5800; 
  font-size: 10px;
  margin-top: 5px;
}
.form-group label small{
  font-family:SukhumvitSet-Medium; 
  color: #FF5800 !important; 
}

.btn-g{
  background-image: linear-gradient(to bottom, #f37a26, #f4721e, #f56917, #f65f0f, #f75507, #f85004, #f84b02, #f94500, #f94500, #f94500, #f94500, #f94500);
  display: block;
  width: 100%;
  font-family:SukhumvitSet-Medium; 
  color: #fff;
  border: none;
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 30px;
  margin-bottom: 15px;
}


.btn-c{
  background-color: #A6A6A6;
  display: block;
  width: 100%;
  font-family:SukhumvitSet-Medium; 
  color: #fff;
  border: none;
  padding-top: 15px;
  padding-bottom: 10px;
  border-radius: 30px;
}
.uploadx{
  width: 100px;
  height: 120px;
  border: 2px dashed  #A6A6A6;
  border-radius: 12px;
  position: relative;
  overflow: hidden; 
  margin-right: 15px;
}
.uploadx .fa-file-image{
  font-size: 60px;
  color: #A6A6A6;
  padding-left: 20px;
  padding-top: 30px;
}
.uploadx .fa-plus-circle{
  font-size: 30px;
  color: #A6A6A6; 
  margin-left: -25px;
  top: 5px;
  border:4px solid #fff;
  border-radius: 100%;
  background-color: #fff;
}
.uploadx input{
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

.form-group .gbot{
  float: left;
  position: absolute;
  padding-left: 120px;
  left: 0;
  font-family:SukhumvitSet-Bold; 
  color: #FF5800; 
  font-size: 14px;
  margin-top: -15px;
  margin-left: 15px;
}

.form-add .add-cet{ 
  font-family:SukhumvitSet-Bold; 
  color: #FF5800; 
  float: right;
}
.uploadx img{
  margin: auto;
  display: block;
  margin-top: 5px;
}

.form-add .form-group span.thb:after{ 
  content: "THB.";
  float: right !important; 
  font-family:SukhumvitSet-Bold; 
  color: #FF5800; 
  font-size: 16px;
  margin-top: -45px;  
  right: 0 !important; 
  margin-left: 160px; 
}

.right-alert i{
  color: #fff;
  font-size: 30px;
  padding-top: 5px;
}
.search-r i{  
  position: absolute;
  top: 0;
  margin-top: 10px;
  margin-left: 10px;
  color: #A6A6A6;
}

.search-xx{
  padding-left: 35px;
}

.a-rt{
  color: #000;
  margin-top: 15px;
  font-size: 20px;
}

.modal-s .modal-dialog { 
  margin: 0rem !important; 
}
.modal-s .modal-content{
  border: none !important;
  min-height: 100vh;
  border-radius: 0px !important;
  border-radius: 30px 30px 0px 0px !important;
}

.h3x{
  font-family:SukhumvitSet-Bold; 
  color: #FF5800; 
  text-align: center;
}
.circlex a{
  color: #FF5800; 
  font-size: 35px;
  padding-right: 5px;
  padding-left: 5px;
}
.mess{
  background-color: #0A87FF; 
  padding: 4px;
  border-radius: 4px;
}
.mess i{
  color: #fff;
  font-size: 14px;
}
 